In [418]:
import numpy as np
import pandas as pd


# Pretty display for notebooks
%matplotlib inline

In [419]:
#Train data
try:
    traindf=pd.read_csv("train.csv")
    print ("Data loaded")
    print "Train dataset has {} data points with {} variables each.".format(*traindf.shape)
    
except:
    print ("An error occured")

Data loaded
Train dataset has 679051 data points with 4 variables each.

In [420]:
try:
    userdf=pd.read_csv("user.csv")
    print ("Data loaded")
    print "User dataset has {} data points with {} variables each.".format(*userdf.shape)
    
except:
    print ("An error occured")

Data loaded
User dataset has 89502 data points with 3 variables each.

In [421]:
try:
    articledf=pd.read_csv("article.csv")
    print ("Data loaded")
    print "article dataset has {} data points with {} variables each.".format(*articledf.shape)
    
except:
    print ("An error occured")

Data loaded
article dataset has 261758 data points with 4 variables each.

In [422]:
#Test Data
try:
    testdf=pd.read_csv("test.csv")
    print ("Data loaded for test set")
    print "Test dataset has {} data points with {} variables each.".format(*testdf.shape)
    
except:
    print ("An error occured")

Data loaded for test set
Test dataset has 290306 data points with 3 variables each.

In [423]:
pd.__version__

u'0.18.1'

In [424]:
traindf.head()

       User_ID  Article_ID  Rating                      ID
0  20080828074  1219102233       0  20080828074_1219102233
1  20080851125  1219110304       6  20080851125_1219110304
2  20080820760  1219151095       0  20080820760_1219151095
3  20080824760  1219295837       5  20080824760_1219295837
4  20080883177  1219209257       4  20080883177_1219209257

In [425]:
userdf.head()

       User_ID Var1          Age
0  20080820123    A          NaN
1  20080820124    A        20-30
2  20080820125    A        30-40
3  20080820126    A  Less tha 15
4  20080820127    A          NaN

In [426]:
articledf.head()

,Article_ID,VintageMonths,NumberOfArticlesBySameAuthor,NumberOfArticlesinSameCategory
0,1219098423,10.0,3,503
1,1219098424,9.0,3,503
2,1219098425,10.0,46,503
3,1219098426,9.0,46,503
4,1219098427,9.0,38,503

In [427]:
#traindframe=pd.merge(traindf,userdf,on='User_ID')

In [428]:
#traindframe.head()

In [429]:
#ftraindf=pd.merge(traindframe,articledf,on='Article_ID')

In [430]:
ftraindf=traindf
ftraindf.head()

       User_ID  Article_ID  Rating                      ID
0  20080828074  1219102233       0  20080828074_1219102233
1  20080851125  1219110304       6  20080851125_1219110304
2  20080820760  1219151095       0  20080820760_1219151095
3  20080824760  1219295837       5  20080824760_1219295837
4  20080883177  1219209257       4  20080883177_1219209257

In [431]:
tempdf=ftraindf
dtype_df = tempdf.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64      3
1      object      1

In [432]:
temp_test_df=testdf
dtype_df = temp_test_df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

  Column Type  Count
0       int64      2
1      object      1

In [433]:
#Find missing values
ftraindf.isnull().values.any()

False

In [434]:
ftraindf.isnull().sum()

User_ID       0
Article_ID    0
Rating        0
ID            0
dtype: int64

In [435]:
# Saving id variables to create final submission
ID_test = testdf['ID'].copy()
User_ID_test = testdf['User_ID'].copy()
Article_ID_test = testdf['Article_ID'].copy()

In [436]:
#save the predictor variable.
targetvar=ftraindf['Rating']

In [437]:
ftraindf.head()

       User_ID  Article_ID  Rating                      ID
0  20080828074  1219102233       0  20080828074_1219102233
1  20080851125  1219110304       6  20080851125_1219110304
2  20080820760  1219151095       0  20080820760_1219151095
3  20080824760  1219295837       5  20080824760_1219295837
4  20080883177  1219209257       4  20080883177_1219209257

In [438]:
ftraindf.drop(['Rating'],inplace=True,axis=1)
#Remove target variable from dataframe and other unwanted columns
#ftraindf.drop(['Rating','VintageMonths','Var1','Age','NumberOfArticlesBySameAuthor','NumberOfArticlesinSameCategory'], inplace=True, axis=1)

In [439]:
#Preprocess using label encoder.
from sklearn.preprocessing import LabelEncoder
for col in ftraindf.columns:
    if ftraindf[col].dtype=='object':
        lbl=LabelEncoder()
        ftraindf[col]=lbl.fit_transform(list(ftraindf[col].values))

In [440]:
#Label encoding for test data
for col in testdf.columns:
    if testdf[col].dtype=='object':
        lbl=LabelEncoder()
        testdf[col]=lbl.fit_transform(list(testdf[col].values))

In [441]:
ftraindf.head()

       User_ID  Article_ID      ID
0  20080828074  1219102233  429836
1  20080851125  1219110304  582149
2  20080820760  1219151095  100061
3  20080824760  1219295837  355189
4  20080883177  1219209257  649508

In [442]:
testdf.head()

       User_ID  Article_ID      ID
0  20080822161  1219173561  110288
1  20080839116  1219217951  228195
2  20080831336  1219224091  202233
3  20080820936  1219186943   59662
4  20080823287  1219165896  134079

In [443]:
ftraindf.isnull().sum()

User_ID       0
Article_ID    0
ID            0
dtype: int64

In [444]:
testdf.head()

       User_ID  Article_ID      ID
0  20080822161  1219173561  110288
1  20080839116  1219217951  228195
2  20080831336  1219224091  202233
3  20080820936  1219186943   59662
4  20080823287  1219165896  134079

In [445]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest
from sklearn.preprocessing import StandardScaler

In [446]:
scaler=MinMaxScaler()
ftraindf=scaler.fit_transform(ftraindf)
testdf=scaler.transform(testdf)

In [447]:
#sd_scaler=StandardScaler()
#ftraindf=sd_scaler.fit_transform(ftraindf)
#testdf=sd_scaler.transform(testdf)

In [448]:
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error

In [449]:
# Fit regression model
"""
model = ensemble.GradientBoostingRegressor(
    n_estimators=1000,
    learning_rate=0.1,
    max_depth=3,
    min_samples_leaf=1,
    max_features=0.1,
    loss='huber',
    random_state=0
)
model.fit(ftraindf, targetvar)

"""

"\nmodel = ensemble.GradientBoostingRegressor(\n    n_estimators=1000,\n    learning_rate=0.1,\n    max_depth=3,\n    min_samples_leaf=1,\n    max_features=0.1,\n    loss='huber',\n    random_state=0\n)\nmodel.fit(ftraindf, targetvar)\n\n"

In [450]:
"""
RFmodel=ensemble.RandomForestRegressor(n_estimators=15, criterion='mse', max_depth=4, 
                      min_samples_split=6, min_samples_leaf=7, min_weight_fraction_leaf=0.5,
                      max_features='auto', max_leaf_nodes=7, 
                      bootstrap=True, oob_score=True, n_jobs=2, random_state=42, verbose=0, 
                      warm_start=False)
RFmodel.fit(ftraindf, targetvar)

"""

"\nRFmodel=ensemble.RandomForestRegressor(n_estimators=15, criterion='mse', max_depth=4, \n                      min_samples_split=6, min_samples_leaf=7, min_weight_fraction_leaf=0.5,\n                      max_features='auto', max_leaf_nodes=7, \n                      bootstrap=True, oob_score=True, n_jobs=2, random_state=42, verbose=0, \n                      warm_start=False)\nRFmodel.fit(ftraindf, targetvar)\n\n"

In [494]:
Adbmodel=ensemble.AdaBoostRegressor(base_estimator=None, n_estimators=52, 
                  learning_rate=0.09, loss='linear', random_state=42)
Adbmodel.fit(ftraindf,targetvar)

AdaBoostRegressor(base_estimator=None, learning_rate=0.09, loss='linear',
         n_estimators=52, random_state=42)

In [495]:
preds=Adbmodel.predict(testdf)

In [496]:
# Submission file
submit = pd.DataFrame({'ID': ID_test,'Rating': preds})
submit = submit[['ID','Rating']]


submit.to_csv("solution27.csv", index=False)